<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0)" class="navbar-brand header__angular" [routerLink]="['/']">
        <img src="/assets/angular.svg" alt="Angular">
      </a>
      <a href="javascript:void(0)" class="navbar-brand" [routerLink]="['/']">
        NgDevHero
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a href="javascript:void(0)" [routerLink]="['/recipes']">Recipe Book</a></li>
        <li routerLinkActive="active"><a href="javascript:void(0)" [routerLink]="['/shopping-list']">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li>
            <a href="javascript:void(0)" [routerLink]="'/register'">
              Register
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="'/login'">
              Login
            </a>
          </li>
        </ng-template>
        <li *ngIf="authService.isAuthenticated()">
          <a href="javascript:void(0)" (click)="onLogout()">
            Logout
          </a>
        </li>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a href="javascript:void(0)" class="dropdown-toggle">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" (click)="onSaveData()">Save Data</a></li>
            <li><a href="javascript:void(0)" (click)="onFetchData()">Load Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>