<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 150px">
    <h3>Please register</h3>
    <form class="form-group" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <button href="javascript:void(0)" class="btn btn-primary" type="submit">
        Register
      </button>
    </form>
  </div>
</div>