<a href="javascript:void(0)"
   class="list-group-item clearfix"
   [routerLink]="[index]"
   routerLinkActive="active"
>
  <span class="row">
    <span class="col-xs-6">
      <h4 class="list-group-item-heading">{{recipe.name}}</h4>
      <p class="list-group-item-text">{{recipe.desc}}</p>
    </span>
    <span class="col-xs-6">
      <img [src]="recipe.imagePath" alt="image" class="img-responsive" style="max-height: 100px">
    </span>
  </span>
</a>

