<a href="javascript:void(0)">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath"
                 alt="{{ recipe.name }}"
                 class="img-responsive"
                 style="max-height: 250px"
            >
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 style="margin-top: 11px;">{{recipe.name}}
                <div class="btn-group" appDropdown>
                    <button type="button" class="btn btn-default dropdown-toggle">Manage Recipe <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" (click)="onAddToShoppingList()">Add to Shopping List</a></li>
                        <li><a href="javascript:void(0)" (click)="onEditRecipe()">Edit Recipe</a></li>
                        <li><a href="javascript:void(0)" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                    </ul>
                </div>
            </h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="label label-success">Description</div>
            <hr>
            <p>
                {{recipe.desc}}
            </p>
        </div>
        <div class="col-xs-6">
            <div class="label label-warning">Ingredients</div>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                            <span class="badge">{{ingredient.quanity}}</span>
                            {{ingredient.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</a>