<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default btn-lg"
                (click)="onNewRecipe()"
        >New Recipe</button>
        <hr>
    </div>
    <div class="col-xs-12">
        <app-recipe-item
            *ngFor="let recipe of recipes; let i = index"
            [recipe]="recipe"
            [index]="i"
        >
        </app-recipe-item>
    </div>
</div>
