<div class="row">
  <div class="col-xs-10">
    <app-shop-list-edit
      (pushIngredient)="onPush($event)"
    ></app-shop-list-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients; let i = index;" (click)="onEditItem(i)">
        Name: {{ingredient.name}}, <br>
        Quanity: {{ingredient.quanity}}
      </a>
    </ul>
  </div>
</div>