<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="quanity">Quanity</label>
          <input
            type="number"
            id="quanity"
            class="form-control"
            name="quanity"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">
              {{ editMode ? 'Save' : 'Add' }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            *ngIf="editMode"
            (click)="onDelete()">DELETE
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()">RESET</button>
        </div>
      </div>
    </form>
  </div>
</div>
